name: Continuous Integration and Deployment (CI/CD)

on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests & Code Quality
    runs-on: ubuntu-22.04

    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run code quality, unit tests, and coverage
        run: ./gradlew pmdMain pmdTest test jacocoTestReport

  deploy:
    name: Deploy to Render
    needs: test
    runs-on: ubuntu-22.04
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Trigger Render Deployment
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"